.container-fluid.example {
    margin-top: 80px;
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    position: relative;
}

@media (min-width: 1350px) {
    .container-fluid.example{
        width: 1200px;
        height: 450px;;
    }
}